# Auto generated
node_modules
dist
.nuxt
.output

#  specific vuexy files
src/vendor/materio/@core
src/vendor/materio/@layouts
src/vendor/materio/plugins/iconify/*
src/vendor/materio/plugins/vuetify/*
src/app-core/public

# others
.vscode
.github
.gitignore
pnpm-lock.yaml
*.png
*.svg
*.jpg
*.jpeg
.prettierignore
